.invoice-step {
  .links {
    margin-top: 10px;

    a {
      display: inline-block;
      text-align: center;
      border-radius: 25px;
      padding: 8px;
      color: #fff;
      background: #4B4B4B;
      font-size: 14px;
      width: 200px;
      margin-right: 30px;
    }
  }
}
