.passwordStrengthDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 5px;
}

.passwordStrength {
  color: #a4afb8;
}

.strong {
  background: #18da8e;

}
.fair {
  background: #ffab67
}
.weak {
  background: #ed1943;
}
