.paymentMethods {
  border-bottom: 1px solid #ccd2d7;
  padding: 35px 0;
  text-align: center;

  .title {
    color: #0c293f;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .paymentMethod {
    margin: 10px;
    display: inline-block;
    height: 30px;
    width: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &.visa {
      background-image: url("~new-project-details/Logo-Visa.svg");
    }

    &.mastercard {
      background-image: url("~new-project-details/Logo-Mastercard.svg");
    }

    &.americanExpress {
      background-image: url("~new-project-details/Logo-AmericanExpress.svg");
    }

    &.paypal {
      background-image: url("~new-project-details/Logo-PayPal.svg");
    }
  }
}