<tr>
  <td class='text'>
    Please complete the transfer now in order for your design project to kick off.
  </td>
</tr>
<tr>
  <td class='text'>
    You can find the copy of your invoice in your <%= link_to 'Transaction menu', @url %>
  </td>
</tr>
