$upload-box-transition-duration: 0.2s;
$upload-box-transition-timing: ease-in-out;

.colorPicker {
  box-shadow: none !important;
  border: solid 1px #ccd2d7;
  width: 280px !important;
  height: 280px !important;
  margin: 0 auto;
  box-sizing: border-box !important;
  position: relative;
  text-align: center;
}

.selectButton {
  display: inline-block;
}

.selectColor {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: #eff1f3;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.selectColorIcon {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-image: url("~new-project-builder/color-picker.svg");
}

.selectColorText {
  color: #a4afb8;
  display: inline-block;
}

.imageUploaderWrapper {
  display: flex;
  padding: 20px 0;
}

.thumbnailsWrapper {
  order: 1;
  flex: 1;
  text-align: right;
  align-items: right;
}

.thumbnailsInnerWrapper {
  display: inline-block;
  margin: -10px;
  width: 300px;
  line-height: 0;
}

.previewWrapper {
  order: 2;
  text-align: center;
  padding: 0 20px;
}

.rightPanel {
  order: 3;
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
}

.thumbnail {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 10px;
  border: 1px solid #ccd2d7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.deleteDesign {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 10px;
  background: #a4afb8;
  color: #fff;
  text-align: center;
  align-items: center;
  cursor: pointer;
  line-height: 6px;

  &:before {
    font-size: 8px;
  }
}

@media screen and (max-width: 920px) {
  .previewWrapper {
    padding: 0;
  }
  .imageUploaderWrapper {
    display: block;
  }

  .thumbnailsWrapper {
    text-align: left;
    align-items: left;
  }

  .thumbnailsWrapper {
    text-align: center;
  }

  .thumbnailsInnerWrapper {
    text-align: left;
  }

  .rightPanel {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
  }
}
