.subheader {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}
.warning {
  text-align: center;
  font-size: 12px;
  color: var(--color-error);
  margin-bottom: 20px
}
.infoIcon {
  margin-left: 5px;
  color: var(--color-light-grey);
  font-size: 12px;
}
