.featureContainer {
  box-shadow: 0 2px 10px 0 rgba(164, 175, 184, 0.75);
  background-color: #fff;
  margin-bottom: 22px;
  padding: 18px 24px 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 605px;
}