.logo {
  display: inline-block;
  height: 25px;
  width: 150px;
  background-image: url("~new-project-builder/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}
