<tr>
  <td class='header'>
    The client from project: <%= cut_on_word(@project.name) %>, timed-out
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          This means that the client didn’t select a winner. We are going to do our best to contact the client to see if this happened by mistake. We will keep you posted on what happens next.
        </td>
      </tr>
    </table>
  </td>
</tr>
