<tr>
  <td class='header'>
    Hi <%= @designer.first_name %>,
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          There is no easy way to say this, but we're sorry to say your portfolio has been declined.
          <br />
          <br />
          We have a team of designers that looks at and discusses every portfolio in great detail. In this case, they decided that your portfolio is not what we are looking for at this moment.
          <br />
          <br />
          In some cases, you might receive a separate email from the team to ask for more detail, or different items in order to re-assess.
          <br />
          <br />
          We're really sorry to bring the bad news, but please feel free to re-apply in the future with an updated portfolio.
          <br />
          <br />
          Best,
          <br />
          Chris
        </td>
      </tr>
    </table>
  </td>
</tr>
