<tr>
  <td class='header'>
    Guess what!
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          ..you’re in!
          <br />
          <br />
          Your work really impressed our team. It’s a pleasure to welcome you on board!
          <br />
          <br />
          We appreciate your effort and we’d like to thank you for taking the time to submit your portfolio to us.
          <br />
          <br />
          And now, time for some more great design! We hope you enjoy the ride - and we’ll be happy to hear from you in case you have any questions or feedback.
          <br />
          <br />
          Talk soon,
          <br />
          The DesignBro Team
        </td>
      </tr>
    </table>
  </td>
</tr>
