<tr>
  <td class='header'>
    OK, time to make the stationery items now
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          Nice! Now that you have entered the finalist stage, you are expected to make the stationery items for the client (Letterhead, business cards, and compliment notes) You will now find the briefing in the link below. You can show each item one-by-one by replacing your logo design. Good luck! It’s the last stretch!!
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class='padding-bottom-25'>
    <a href='<%= "#{host_url}/d/projects/#{@project.id}" %>' class='main-btn'>
      Open Project

      <%= image_tag 'arrow_white.png', class: 'arrow' %>
    </a>
  </td>
</tr>
