$default-font: 'Montserrat', sans-serif;

:root {
  --color-light-grey: #c8c8c8;
  --color-dark-grey: #4b4b4b;
  --color-active: #2bd57c;
  --color-error: #e10034;
  --color-white: #ffffff;
  --color-light-blue: #5EA2D7;

  --icon-check: "\e900";
}
