<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          Go to <%= link_to 'admin panel', "#{host_url}/admin/payouts" %>
          <br />
          <br />
          This is payout request number: <%= @payout.payout_id %>
        </td>
      </tr>
    </table>
  </td>
</tr>
