.clientProfileWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clientName {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: #a4afb8;
  cursor: pointer;
  margin: 12px 0;
}

.avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("~new-project-builder/avatar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.test {
  :global {
    .popover__content {
      left: 30% !important;

      .header__menu-dropdown {
        right: 0 !important;
      }
    }
  }
}
