<style>
  .header {
    font-size: 20px;
  }
</style>

<tr>
  <td class='header'>
    Feedback from <%= @name %> (<%= @email %>):
  </td>
</tr>

<tr>
  <td class='text'>
    <i><%= @message %></i>
  </td>
</tr>
