.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccd2d7;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.49;
  color: #0c293f;

  &::placeholder {
    color: #a4afb8;
  }

  &:focus {
    outline: none;
  }
}

.append {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
