<tr>
  <td class='header'>
    You approved the files, this means your project is now officially ended.
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          That also means you now own the copyright to your design (except any third party items, such as stock images, etc). As per our terms & conditions, this has now been automatically transferred to you.
          Thank you for another great project!
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class='padding-bottom-25'>
    <a href='<%= "#{host_url}/c/projects/#{@project.id}/files" %>' class='main-btn'>
      Open Project

      <%= image_tag 'arrow_white.png', class: 'arrow' %>
    </a>
  </td>
</tr>
