<tr>
  <td class='header'>
    Thank you for approving your design - the designer will now prepare all files needed.
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          The designer will prepare the files within a maximum of 3 days. You will receive a message when <%= @project.winner.display_name %> has uploaded them! So for now, sit back & enjoy a cup of coffee.
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class='padding-bottom-25'>
    <a href='<%= "#{host_url}/c/projects/#{@project.id}" %>' class='main-btn'>
      Open Project

      <%= image_tag 'arrow_white.png', class: 'arrow' %>
    </a>
  </td>
</tr>
