<tr>
  <td class='header'>
    The designer didn’t upload his files for your project: <%= cut_on_word(@project.name) %>
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          You don’t have to do anything at this moment, our support team has been contacted and will get in touch with your designer. We will keep you posted and apologise for the inconvenience.
        </td>
      </tr>
    </table>
  </td>
</tr>
