<tr>
  <td class='header'>
    Having a great design for <%= @project.brand_name %>, could be the best decision you ever made.
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          With only professional & high-quality designers, DesignBro would not only like to amaze you our designs, but more importantly, we realize that it's about how your customers feel about it.
          <br />
          <br />
          Visit <a href='<%= host_url %>'><%= host_url %></a> just finish your briefing, and start making a difference with your brand.
          <br />
          <br />
          Feel free to reply to this email if you have any more questions or hesitations, as we value your business.
          <br />
          <br />
          Best,
          <br />
          Chris
        </td>
      </tr>
    </table>
  </td>
</tr>
