<tr>
  <td class='header'>
    We’ve informed the designer about the new project
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          We’ve reached out to your selected designer and told them the good news. We’re sure they’re as excited as you are.
          If they have any additional questions- they will reach out to you shortly through the chat. But for now, just sit back & relax while they get the creative juices flowing.
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class='padding-bottom-25'>
    <a href='<%= "#{host_url}/c/projects/#{@project.id}" %>' class='main-btn'>
      Open Project

      <%= image_tag 'arrow_white.png', class: 'arrow' %>
    </a>
  </td>
</tr>
