.pjsumm-contact-support {
  padding-top: 110px;
  padding-bottom: 90px;
  text-align: center;
  letter-spacing: 0.4px;
}
.pjsumm-contact-support__text {
  font-size: 24px;
  line-height: 1.5;
}

@include media-breakpoint-up(lg) {
  .pjsumm-contact-support {
    padding-top: 125px;
    padding-bottom: 165px;
  }
  .pjsumm-contact-support__text {
    font-size: 28px;
    line-height: 1.6;
  }
}