.sliderWrapper {
  display: flex;
  margin: 50px 0;
  align-items: flex-end;
}

.slider {
  flex: 1;
  order: 2;
}

.leftLabel {
  flex: 1;
  order: 1;
  padding: 0 25px;
  text-align: right;
  color: #96a3ad;
}

.rightLabel {
  flex: 1;
  order: 3;
  padding: 0 25px;
  text-align: left;
  color: #96a3ad;
}

.active {
  color: #0c293f;
}

@media screen and (max-width: 600px) {
  .sliderWrapper {
    display: block;
  }

  .leftLabel {
    float: left;
    padding: 0;
    margin-left: -5px;
  }

  .rightLabel {
    float: right;
    padding: 0;
    margin-right: -5px;
  }
}
