.userPicture {
    width: 33.2px;
    height: 33.2px;
    margin: 0 12.7px 12.6px 0;
    border: solid 0.5px #d7d7d7;
    background-color: #d7d7d7;
    border-radius: 50%;
    display: flex;
}

.userName {
    margin: auto;
}
