//= require activeadmin_addons/all

// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
.status_tag {
  &.no_brand_experience, &.no_packaging_experience, &.not_good_english, &.disapproved {
    background: #FF0000;
  }

  &.junior_brand_experience, &.junior_packaging_experience, &.acceptable_english, &.draft {
    background: #6090DB;
  }

  &.middle_brand_experience, &.middle_packaging_experience, &.good_english, &.pending {
    background: #FF9900;
  }

  &.senior_brand_experience, &.senior_packaging_experience, &.native_english, &.approved {
    background: #08A510;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

.small-image {
  max-width: 60px;
  max-height: 60px;
}

.big-image {
  max-width: 250px;
  min-width: 250px;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
}

.main-col-3 {
  flex: 0 0 20%;
  margin-right: 10px;
  margin-left: 10px;
}

.code-snippet {
  font-family: monospace;
  font-size: 12px;
  background-color: #e6e6e6;
}

.col {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flash.flash_notice {
  font-size: 16px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
