<tr>
  <td class='header'>
    Password changed
  </td>
</tr>
<tr>
  <td>
    <table class='sm-table' cellpadding='0' cellspacing='0' align='center'>
      <tr>
        <td class='text left'>
          We successfully changed your password.
        </td>
      </tr>
      <tr>
        <td class='text left'>
          Talk soon,
          <br />
          The DesignBro Team
        </td>
      </tr>
    </table>
  </td>
</tr>
