<tr>
  <td class='header'>
    Hello <%= @resource.email %>!
  </td>
</tr>
<tr>
  <td class=text>
    Someone has requested a link to change your password.
    <br />
    You can do this through the link below.
  </td>
</tr>
<tr>
  <td class='text'>
    <p>
      <a href='<%= "#{root_url}change-password/#{@resource.reset_password_token}" %>' class='main-btn'>
        Change my password
        <%= image_tag 'arrow_white.png', class: 'arrow' %>
      </a>
    </p>
  </td>
</tr>
