.form {
  padding: 50px 0 100px;
  color: #0c293f;
}

.content {
  padding: 0 10px;
  text-align: center;
}

.countriesSelectWrapper {
  width: 33%;
  margin: 0 auto;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 50px 25px;
  }
  .countriesSelectWrapper {
    width: 100%;
  }
}
