.heading {
  text-align: center;
}
.subheading {
  text-align: center;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal {
  box-shadow: 0 2px 14px 0 rgba(164, 175, 184, 0.75) !important;
}
.modalContent {
  padding: 1.5rem 3rem !important;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  padding: 10px;
  cursor: pointer;
  color: #ccd2d7;
}

.createNewAccount {
  display: inline-block;
  font-size: 14px;
  margin-top: 25px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
