.header {
  display: flex;
  padding: 15px 30px;
}

.logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.progressBarWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientProfileWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .progressBarWrapper {
    display: none;
  }

  .header {
    padding: 15px 20px;
  }
}
