<!DOCTYPE html>
<html>
  <head>
    <title>Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "emails", media: 'all', rel: 'stylesheet' %>

    <style type="text/css">
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
