<!DOCTYPE html>
<html>
  <head>
    <title>Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      @media screen and (max-width: 599px) {
        .reminder-email__header-title {
          font-size: 22px !important;
          padding-bottom: 0 !important;
        }
        .font-16 {
          font-size: 16px !important;
        }
        .font-18 {
          font-size: 18px !important;
        }
        .p-0 {
          padding: 0 !important;
        }
      }
    </style>
  </head>
  <body style="margin: 0;">
    <%= yield %>
  </body>
</html>
